.EvaluationCard {
  display: flex;
  align-items: center;
  padding: 0 3.1rem 0 2.4rem;
  height: 9rem;
  background-color: #fff;
  border-top: solid 1px #e4e7f2;
  border-bottom: solid 1px #e4e7f2;

  &__evaluator {
    width: 40%;
    flex-basis: 40%;
  }
  &__note,
  &__time,
  &__criteria {
    display: flex;
    justify-content: center;
    width: 20%;
    flex-basis: 20%;
  }
}
