.EntrySlider {
  .MuiFormControl-root {
    display: flex;
    justify-content: center;
    height: 8.2rem;
    background-color: #fff;
    border: 1px solid rgba(211, 216, 222, 0.5);
    padding: 1.8rem 7rem;
    border-radius: 3px;

    .MuiSlider-root {
      padding: 0;
      margin: 0;
      height: 10px;
    }

    // Trail
    .MuiSlider-rail {
      opacity: 1;
      height: 10px;
      background-color: #f4f5f7;
      border-radius: 3px;
      overflow: hidden;
    }

    // Truck
    .MuiSlider-track {
      opacity: 1;
      height: 10px;
      background-color: #ffc857;
      border-radius: 3px;
      overflow: hidden;
    }

    // Mark label
    .MuiSlider-mark {
      opacity: 0;
    }
    .MuiSlider-markLabel {
      top: -4px;
      font-family: "CircularStd";
      color: #474747;
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 400;
      width: 3.15rem;
      overflow: hidden;

      &:nth-child(5) {
        left: -3.5rem !important;
      }
      &:nth-child(7) {
        left: unset !important;
        right: -7.5rem !important;
      }
    }

    // Thumb
    .MuiSlider-thumb {
      height: 23px;
      width: 23px;
      margin-top: -6px;
      background: #fff;
      border: 0.4rem solid #ffc857;
    }
    .MuiSlider-valueLabel {
      color: transparent;
      font-family: "CircularStd";
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2rem;
      top: 2.5rem;
      left: calc(-50%);

      & > span > span {
        font-size: 1.5rem;
        color: #fac756;
      }
    }
  }
}
