.BoxTitledBillings {
  border: 1px solid #ebebeb;
  background-color: #ffffff;

  &__title {
    padding: 3.6rem 3.3rem 2.9rem 3.3rem;
    border-bottom: 1px solid #ebebeb;
  }
  &__body {
    padding: 0 3.3rem 4rem 2.9rem;
  }

  .FileBill {
    padding: 1.5rem 0;
    border-bottom: 1px solid #ebebeb;
  }
}
