.CreateProgramLayout {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f9fcff;
  overflow: hidden;

  .ScrollbarsCustom-Scroller {
    scroll-behavior: unset;
  }

  &__main {
    display: flex;
    height: calc(100vh - 8.5rem);
  }

  &__sidebar {
    width: 37.9rem;

    &__header {
      height: 10rem;
      padding: 3.5rem 0 0 7rem;
    }

    &__links {
      padding: 2rem 0 0 7rem;

      .__link {
        display: flex;
        opacity: 0.3;
        margin: 0 0 2.2rem 0;

        svg {
          fill: #fff;
        }
        &.__active {
          svg {
            fill: #f9bf58;
          }
        }

        &.__active,
        &.__completed {
          opacity: 1;
        }

        &__inner {
          display: flex;
          align-items: center;

          &.__active,
          &.__kNaN,
          &.__completed {
            cursor: pointer;
          }
        }

        &__icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 4.3rem;
          height: 4.3rem;
          background-color: #243160;
          border-radius: 8px;
          margin: 0 1.3rem 0 0;

          svg {
          }
        }
      }
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;

    &__header {
      display: flex;
      align-items: flex-end;
      position: relative;
      height: 10rem;
      padding: 1.3rem 0;

      &__inner {
        flex: 1;
        display: flex;
        justify-content: space-between;
        height: 4.3rem;
        margin: 0 10.5rem 0 0;
      }

      &__title {
        display: flex;
        align-items: center;
      }
      &__btns {
        display: flex;
        align-items: center;
      }
    }

    &__outer {
      position: relative;
      flex: 1;
      margin: 2rem 0 4rem 0;

      .ScrollbarsCustom-Content {
        display: flex;
      }
    }

    &__actions {
      display: flex;
      justify-content: space-around;
      position: absolute;
      bottom: 0;
      width: calc(100% - 10.5rem);
      height: 7.8rem;
      background-color: #fff;
      box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.07);
      z-index: 9;

      &__inner {
        flex: 1;
        display: flex;
        align-items: center;
        height: 100%;
        max-width: 90rem;
        margin: 0 2rem;
      }
    }

    &__inner {
      flex: 1;
      position: relative;
      display: flex;
      justify-content: space-around;
      background-color: #fff;
      padding: 7.2rem 5rem;
      margin: 0 10.5rem 0 0;
      border: 1px solid rgba(0, 0, 0, 0.02);

      &__inner {
        flex: 1;
        max-width: 90rem;

        //border: 1px solid red;
      }

      .Entry:not(:last-child) {
        margin: 0 0 2.1rem 0;
      }
    }
  }

  &__footer {
    position: relative;
    height: 8.5rem;
    background-color: #fff;
    box-shadow: 0 -1px 10px 0 rgba(159, 166, 191, 0.25);
    padding: 1.6rem 0;

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 5.4rem;
      margin: 0 10.5rem 0 7rem;

      .__assistance {
        padding: 0 13px 5px 0;
        border-bottom: 1px solid #d4d9e2;
        cursor: pointer;
      }
    }
  }

  //- Last Step
  &.__last_step &__main {
    flex-direction: column;
    height: 100vh;
  }

  &.__last_step &__sidebar {
    width: 100%;
  }

  &.__last_step &__content {
    &__header {
      display: none;
    }
    &__outer {
      margin: 0;
    }
    &__inner {
      padding: 0;
      margin: 0;
      &__inner {
        max-width: 100%;
      }
    }
  }
}
