.EvaluatorApplicationCard {
  display: flex;
  align-items: center;
  background: #ffffff;
  height: 10rem;
  padding: 0 3.1rem 0 2.4rem;
  border: solid 1px #e4e9f3;

  &__title {
    display: flex;
    align-items: center;
    width: 20%;
    flex-basis: 20%;
  }

  &__country {
    display: flex;
    width: 10%;
    flex-basis: 10%;
  }

  &__solution {
    width: 40%;
    flex-basis: 40%;
    padding: 0 2rem 0 0;
  }

  &__evaluation {
    display: flex;
    justify-content: center;
    width: 10%;
    flex-basis: 10%;

    .Typography-root {
      color: #ce502f;
      display: flex;
      align-items: center;
      padding: 0.8rem 1rem;
      border-radius: 1.7rem;
      height: 3.4rem;
      overflow: hidden;
      background-color: rgba(206, 80, 47, 0.1);
    }
    &.__completed {
      .Typography-root {
        color: #26b8cc;
        background-color: rgba(34, 179, 202, 0.1);
      }
    }
  }
  &__note {
    display: flex;
    justify-content: center;
    width: 10%;
    flex-basis: 10%;
  }
  &__actions {
    display: flex;
    justify-content: flex-end;
    width: 10%;
    flex-basis: 10%;
  }
}
