.ManagePeopleCard {
  display: flex;
  align-items: center;
  background: #ffffff;
  height: 11.8rem;
  padding: 0 3.1rem 0 2.4rem;
  border-top: solid 1px #e4e9f3;
  border-bottom: solid 1px #e4e9f3;

  &__username {
    display: flex;
    align-items: center;
    width: 40%;
    flex-basis: 40%;
  }
  &__auth,
  &__status,
  &__actions {
    display: flex;
    justify-content: center;
    width: 20%;
    flex-basis: 20%;
  }
  &__actions {
    cursor: pointer;
    & > div {
      margin-right: 3.7em;
    }
    .tool {
      background: #010d25 !important;
      padding: 1rem 1.8rem !important;
      border-radius: 2px !important ;
    }
  }
}
