.MenuLike {
  position: relative;
  &__title {
    height: 5.1rem;
    padding: 1.96rem 2rem 1rem 2.4rem;
  }
  &__trigger {
    display: flex;
    height: 100%;
    position: relative;
    cursor: pointer;
  }

  .ScrollbarsCustom {
    flex: 1 !important;
    height: unset !important;
  }

  .ScrollbarsCustom-Wrapper {
    position: static !important;
  }

  .ScrollbarsCustom-Scroller {
    position: static !important;
    overflow: hidden scroll;
    height: unset !important;
  }

  .ScrollbarsCustom-Content {
    min-height: 10rem !important;
    max-height: 34rem !important;
  }

  &__Menu {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    min-width: 18rem;
    border-radius: 3px;
    overflow: hidden;
    z-index: 999;
  }
  &__item {
    display: flex;
    background: white;
    padding: 2rem 1.5rem;
    text-align: left;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    cursor: pointer;

    &:hover {
      background: rgba(128, 128, 128, 0.1);
    }

    &:last-child {
      border: none;
    }
  }
}
