.EntryPassword {
  
  .MuiOutlinedInput-input {
    padding-right: 7.3rem;
  }
  
  .MuiOutlinedInput-adornedEnd {
    padding: 0;
  }

  .__show-hide {
    position: absolute;
    right: 2.1rem;
    margin: 0;
  }
}
