.DashboardAdminSeekers {
  height: 100%;

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    padding: 1rem 4.3rem 1rem 3.4rem;
    border-bottom: solid 1px #e4e7f2;
  }

  &__table {
    position: relative;
    height: 100%;
    background: #f2f4f6;

    &__cols {
      display: flex;
      align-items: center;
      height: 8rem;
      padding: 1rem 3.1rem 0 2.4rem;
      border: solid 1px transparent;

      .__col {
        color: #8993a8;
        font-family: "CircularStd";
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;

        &--name {
          width: 30%;
          flex-basis: 30%;
        }
        &--programs {
          width: 20%;
          flex-basis: 20%;
        }
        &--solvers {
          width: 20%;
          flex-basis: 20%;
        }
        &--plan {
          width: 20%;
          flex-basis: 20%;
        }
        &--country {
          width: 20%;
          flex-basis: 20%;
        }
        &--status {
          width: 10%;
          flex-basis: 10%;
        }
      }
    }

    &__body {
      flex: 1;
      height: calc(100vh - 26rem);

      &__inner {
        position: relative;
        height: calc(100vh - 26rem);
        padding: 0.2rem;
      }

      .AdminSeekerCard + .AdminSeekerCard {
        border-top: none;
      }
    }
  }
}
