.EntryImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }

  &__input {
    opacity: 0;
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px dashed #bbbcbf;
    width: 100%;
    height: 100%;
  }
}
