.BoxTitled {
  border: 1px solid #ebebeb;
  background-color: #ffffff;

  &__title {
    padding: 3.6rem 3.3rem 2.9rem 3.3rem;
    border-bottom: 1px solid #ebebeb;
  }
  &__body {
    padding: 2.9rem 3.3rem 4rem 2.9rem;
  }
  &__section {
    padding: 2rem 0;
    &:not(:last-child) {
      border-bottom: 1px solid #ebebeb;
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}
